.about{
    text-align: center;
    color: aquamarine;
    background-color: black;
    opacity: 0.5;
    margin-top: 15em;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}