/* .searchBar{
    border: 2px;
    border-color: aquamarine;
    height: 70px;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* margin-left: 7em; */
    
/* } */ 

/* .inp{
    margin-top: 7px;
    align-items: center;
    background-color: black;
    opacity: 0.7;
    color: lightblue;
    width: 15em;
    border: 1rem solid black;
    
} */
/* .btn{
    background-color: lightskyblue;
    border-radius: 1px;
    margin-left: 1em;
    margin-top: .5em;
} */